[class^="icon-"], [class*=" icon-"]{
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.icon-bimetal{
	width: 64px;
	height: 64px;
	background: url(../img/icons/bimetal.png) no-repeat center center;
}

.icon-calculate{
	width: 44px;
	height: 64px;
	background: url(../img/icons/calculate.png) no-repeat center center;
}

.icon-close{
	width: 12px;
	height: 12px;
	background: url(../img/icons/close.png) no-repeat center center;
}

.icon-calculate-small{
	width: 17px;
	height: 23px;
	background: url(../img/icons/calculate-small.png) no-repeat center center;
}

.icon-certificate{
	width: 64px;
	height: 64px;
	background: url(../img/icons/certificate.png) no-repeat center center;
}

.icon-circle-dot{
	width: 24px;
	height: 24px;
	background: url(../img/icons/circle-dot.png) no-repeat center center;
}

.icon-clock{
	width: 15px;
	height: 15px;
	background: url(../img/icons/clock.png) no-repeat center center;
}

.icon-diamond{
	width: 60px;
	height: 52px;
	background: url(../img/icons/diamond.png) no-repeat center center;
}

.icon-doc{
	width: 49px;
	height: 60px;
	background: url(../img/icons/doc.png) no-repeat center center;
}

.icon-document{
	width: 12px;
	height: 16px;
	background: url(../img/icons/document.png) no-repeat center center;
}

.icon-email-send{
	width: 51px;
	height: 53px;
	background: url(../img/icons/email-send.png) no-repeat center center;
}

.icon-handshake{
	width: 61px;
	height: 52px;
	background: url(../img/icons/handshake.png) no-repeat center center;
}

.icon-insurance{
	width: 60px;
	height: 60px;
	background: url(../img/icons/insurance.png) no-repeat center center;
}

.icon-location{
	width: 11px;
	height: 15px;
	background: url(../img/icons/location.png) no-repeat center center;
}

.icon-opener{
	width: 12px;
	height: 7px;
	background: url(../img/icons/opener.png) no-repeat center center;
}

.icon-params{
	width: 60px;
	height: 60px;
	background: url(../img/icons/params.png) no-repeat center center;
}

.icon-phone-white-big{
	width: 43px;
	height: 43px;
	background: url(../img/icons/phone-white-big.png) no-repeat center center;
}

.icon-phone-white{
	width: 16px;
	height: 16px;
	background: url(../img/icons/phone-white.png) no-repeat center center;
}

.icon-phone{
	width: 16px;
	height: 16px;
	background: url(../img/icons/phone.png) no-repeat center center;
}

.icon-reset{
	width: 17px;
	height: 19px;
	background: url(../img/icons/reset.png) no-repeat center center;
}

.icon-shield{
	width: 52px;
	height: 64px;
	background: url(../img/icons/shield.png) no-repeat center center;
}

.icon-star{
	width: 16px;
	height: 16px;
	background: url(../img/icons/star.png) no-repeat center center;
}

.icon-tv-remote{
	width: 38px;
	height: 66px;
	background: url(../img/icons/tv-remote.png) no-repeat center center;
}

.icon-tv{
	width: 48px;
	height: 47px;
	background: url(../img/icons/tv.png) no-repeat center center;
}

.icon-umbrella{
	width: 16px;
	height: 16px;
	background: url(../img/icons/umbrella.png) no-repeat center center;
}

.icon-question{
	width: 25px;
	height: 25px;
	background: url(../img/icons/question.png) no-repeat center center;
}