.footer-nav{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: calc(100% + 40px);
	margin-left: -20px;
	margin-right: -20px;
	margin-bottom: -10px;

	li{
		padding: 0 20px;
		margin-bottom: 10px;

		&:last-child{
			margin-right: 0;
		}

		a{
			font-size: 18px;
			line-height: 1.1;
			color: $text-color;
			text-decoration: underline;

			&:hover{
				color: $primary;
			}
		}

		&.current-menu-item,
		&.current-menu-parent{
			a{
				color: $primary;
			}
		}
		
		&.current-menu-item{
			a{
				cursor: default;
			}
		}
	}

	@media screen and (max-width: 575px){
		justify-content: flex-start;
	}
}