.btn{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: none;
	outline: none;
	transition: all $t;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	line-height: 30px;
	text-decoration: none;
	background: $primary;
	padding: 4px 40px;
	border: 1px solid transparent;
	position: relative;
	-webkit-appearance: none;
	box-shadow: 0 5px 29px rgba(#ff2424, .33);
	font-family: $main-font;

	&:hover{
		background: darken($primary, 10%);
	}

	[class^="icon-"], [class*=" icon-"]{
		&:first-child{
			margin-right: 10px;
		}

		&:last-child{
			margin-left: 10px;
		}
	}

	&.btn-light{
		background: transparent;
		color: $primary;
		box-shadow: none;
		padding: 10px 40px;
		border: 1px solid #e3e3e3;

		&:hover{
			border-color: $primary;
			background: $primary;
			color: #fff;
		}

		&.small{
			padding: 4px 40px;
		}
	}

	&.btn-small{
		font-size: 13px;
		text-transform: none;
		padding: 7px 20px;
	}

	&.fullwidth{
		width: 100%;
	}

	@media screen and (max-width: 575px){
		&.xs-fullwidth{
			width: 100%;
		}
	}
}