.subpage-card{
	text-align: center;
	padding: 0 25px 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 57px;

	.card-icon{
		width: 97px;
		height: 97px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		position: relative;
		z-index: 2;
		margin-top: calc(-97px / 2);
		margin-bottom: 30px;

		&:before{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background: $primary;
			box-shadow: 0 5px 28px rgba(#ff2424, .26);
			z-index: -1;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		&:after{
			content: '';
			display: block;
			width: 123%;
			height: 123%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: -2;
			border-radius: 50%;
			border: 1px solid #e9e9e9;
			background: $body-bg;
		}

		i{
			display: block;
		}
	}

	.card-content{
		margin-bottom: 25px;

		.card-caption{
			margin-bottom: 15px;

			&:last-child{
				margin-bottom: 0;
			}
		}

		p{
			font-size: 16px;
			line-height: 1.5;
			margin-bottom: -10px;
		}
	}

	.card-link{
		a{
			font-size: 14px;
			line-height: 1.428;
			color: $text-color;
			text-decoration: underline;

			&:hover{
				color: $primary;
			}
		}
	}
}

.subpage-card-mobile{
	padding: 30px;
	display: flex;
	align-items: center;
	flex-direction: column;

	.card-icon{
		width: 86px;
		height: 86px;
		background: $primary;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		margin-bottom: 25px;
		flex: none;

		i{
			display: block;
			transform: scale(0.85);

			&.icon-certificate{
				transform: scale(0.85) translateY(5px);
			}
		}
	}

	.card-content{
		.card-caption{
			font-size: 18px;
			line-height: 1.3;
			text-align: center;
			font-weight: 400;

			a{
				color: $text-color;
				text-decoration: underline;

				&:hover{
					color: $primary;
				}
			}
		}
	}

	@media screen and (max-width: 575px){
		flex-direction: row;

		.card-icon{
			margin-right: 25px;
			margin-bottom: 0;
		}
	}
}