.logo-block{
	display: flex;
	align-items: center;
	color: $text-color;

	.logo-image{
		margin-top: -20px;
		margin-right: 15px;
		flex: none;

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}

		&:last-child{
			margin-right: 0;
		}
	}

	.logo-text{
		font-size: 16px;
		line-height: 24px;
		padding: 6px 0 6px 15px;
		border-left: 1px dashed #000;
		transition: all $t;
		white-space: nowrap;
	}

	&:hover{
		.logo-text{
			color: $primary;
		}
	}
}